.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 25px;
    cursor: pointer;
    @include easeOut();

    .btn-line{
        height: 3px;
        width: 28px;
        background: white;
        @include easeOut();
        margin: 0 0 5px 0;
    }


    // rotate to x in menu toggle
    &.close{
        transform: rotate(180deg);

        .btn-line{
            
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
                background: $secondary-color;
            }

            &:nth-child(2){
                opacity: 0;
            }

            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px);
                background: $secondary-color;
            }
        }
    }
}


.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    height: 100%;

    &.show{
        visibility: visible;    
    }

    &-branding
    ,&-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }


    &-nav{
        margin: 0;
        padding: 0;
        list-style: none;
        background: darken($primary-color, 5);
        @include easeOut;
        transform: translate3d(0 , -100%, 0);

        &.show{
            transform: translate3d(0 , 0 , 0);
        }
    }

    &-branding{
        margin: 0;
        padding: 0;
        list-style: none;
        background: $primary-color;
        @include easeOut;
        transform: translate3d(0 , 100%, 0);

        &.show{
            transform: translate3d(0 , 0 , 0);
        }

        .brand{
            width: 250px;
            height: 250px;
            background: url("../images/download.png");
            background-size: 250px, 250px;
            border-radius: 50%;
            border: solid 5px $secondary-color;

        }
    }


    .menu-item{
        transform: translate3d(600px, 0 , 0);
        @include easeOut;

        &.show{
            transform: translate3d(0,0,0);
        }

        &.current > a{
            color: $secondary-color;
        }
    }

    .menu-link{
        margin: 0;
        padding: 1rem 0;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        @include easeOut;

        &:hover{
            color: $secondary-color;
            @include easeOut;
        }
    }

    @for $x from 1 through 4{
        .menu-item:nth-child(#{$x}){
            transition-delay: $x * 0.3s;
        }
    }
    
}